body {
    margin: 0;
    padding: 0;
}

.login-screen {
    position: absolute;
    width: 500px;
    height: 250px;
    top: calc(50vh - 125px);
    left: calc(50vw - 250px);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-flow: column;
}

.sidebar-form {
    padding: 20px;
    background-color: #efefef;
    border-left: 1px solid rgba(0, 0, 0, 0.25);
}

.form-display {
    display: block;
}

.form-hidden {
    display: none !important;
}

.floated-right {
    float: right;
}
.header-logo {
    width: 200px !important;
}

.avatar {
    cursor: pointer;
    font-size: 0.9rem;
    font-weight: normal;
}

.hovered tr:hover {
    cursor: pointer;
    -webkit-filter: brightness(92%);
    filter: brightness(92%);
}

.ui.horizontal.segments {
    margin: 0.6rem 0em !important;
}

.ui.segment {
    padding: 0.5em 0.5em;
}

.ui.grid > .column:not(.row) {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}
.padded-span {
    padding: 0.5em;
}
.status-archived {
    background-color: rgba(0, 0, 0, 0.05) !important;
    color: #444 !important;
}
.status-initial {
    background-color: #fff !important;
    color: #000 !important;
}
.status-active {
    background-color: rgb(200, 225, 180) !important;
    color: rgba(0, 0, 0, 0.9) !important;
}
.status-inactive {
    background-color: #cccccc !important;
    color: rgba(0, 0, 0, 0.5) !important;
}
.status-processing {
    background-color: #97ccf8 !important;
    color: rgba(0, 0, 0, 0.9) !important;
}
.status-interviewed {
    background-color: #ffffc6 !important;
    color: rgba(0, 0, 0, 0.9) !important;
}
.status-recruiting {
    background-color: #ffc478 !important;
    color: rgba(0, 0, 0, 0.9) !important;
}

.candidate-table {
    border-collapse: collapse !important;
}
.row-selected {
    border-style: solid;
    border-color: rgba(255, 0, 0, 0.25);
    border-width: 2px 0;
}
.candidate-table-row {
    padding: 0px !important;
    cursor: pointer;
}
.candidate-table-field {
    font-weight: bolder;
    opacity: 0.75;
}
.ui.inverted.menu {
    border-radius: 0 !important;
}
.candidate-table-row:hover .set-flag {
    visibility: visible;
}
.set-flag {
    position: relative;
    visibility: hidden;
    top: 7px;
    z-index: 100;
}
.minitoolbar-inline {
    position: absolute;
    top: calc(50% - 35px);
}
.minitoolbar-switch {
    border-color: transparent !important;
    background-color: transparent !important;
    box-shadow: none !important;
}
.minitoolbar-hidden {
    display: none !important;
}
.minitoolbar-flag:hover .icon {
    color: red;
}
.minitoolbar-archive:hover .icon {
    color: red;
}
.minitoolbar-edit:hover .icon {
    color: green;
}

@media print {
    .no-print {
        display: none !important;
    }
}
